<?xml version="1.0" ?>
<robot name="pyxis" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find pyxis_description)/resources/robot/materials.xacro" />
  <xacro:include filename="$(find pyxis_description)/resources/robot/properties.xacro" />
  <xacro:include filename="$(find pyxis_description)/resources/robot/link_base.xacro" />
  <xacro:include filename="$(find pyxis_description)/resources/robot/link_azimuth.xacro" />
  <xacro:include filename="$(find pyxis_description)/resources/robot/link_altitude.xacro" />
  <xacro:include filename="$(find box_car_description)/resources/robot/pyxis.gazebo" />

  <xacro:link_base height="${base_height}" declination="${base_declination}" mass="${base_mass}"/>
  <xacro:link_azimuth parent="base_decl_link"/>
  <xacro:link_altitude parent="azimuth_link"/>
  
  <!-- Velocity Config -->
  <!-- <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>    
    <joint name="body_steering__wheel_stir_right">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="body_steering__wheel_stir_left">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control> -->

  <!-- Position Config -->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>    
    <joint name="azimuth_joint">
      <command_interface name="position">
        <param name="min">${-azimuth_limit}</param>
        <param name="max">${azimuth_limit}</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="altitude_joint">
      <command_interface name="position">
        <param name="min">${-altitude_limit}</param>
        <param name="max">${altitude_limit}</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <!-- <parameters>$(find pyxis_description)/config/controller_mount_velocity.yaml</parameters> -->
      <parameters>$(find pyxis_description)/config/controller_mount_position.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
